.Pagination li {
  position: relative;
  background: var(--gradient--link);
  padding: 3px;
  min-width: 200px;
}

.Pagination > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.Pagination__PageLink {
  display: inline-flex;
  justify-content: center;
  background: var(--white);
  width: 100%;
  color: var(--text--body);
  padding: 0 5px;
}

.Pagination__PageLink:hover,
.Pagination__PageLink:focus {
  background: var(--gradient--link);
  color: var(--white);
}
