/* src/components/StyledLink */
.blog a:not(.heading) {
  background-image: var(--gradient--link);
  background-position: 0 115%;
  background-repeat: no-repeat;
  background-size: 100% 0.375rem;
  color: currentColor;
  display: inline-block;
  text-decoration: none;
}

.blog .heading {
  position: absolute;
  right: -20px;
  padding-right: 0;
}

@media screen and (max-width: 600px) {
  .blog h1,
  .blog h2,
  .blog h3,
  .blog h4,
  .blog h5,
  .blog h6,
  .blog p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.blog h2,
.blog h3,
.blog h4,
.blog h5,
.blog h6 {
  display: inline-block;
  position: relative;
}

.blog blockquote {
  background-color: var(--salmon--light--rgba50);
  border-left: 5px solid var(--salmon);
  border-top-right-radius: 10px;
  font-style: italic;
  margin-left: 0;
  margin-right: 0;
  padding: 1rem;
}
