---
let allBlogPosts = await Astro.glob('./**/*.md');
allBlogPosts = allBlogPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf(),
);
---

<html>
  <body>
    <h1>Blog!</h1>
    <section aria-label="Blog post list">
      <ul>
          {allBlogPosts.map((p) => { 
            return <li><a href={p.url}>{p.frontmatter.title}</a></li>
          })}
      </ul>
		</section>
  </body>
</html>

<style>
  h1 {
    color: orange;
  }
</style>
