.blog {
  font-family: "Inter", sans-serif;
  padding-bottom: 48px;
}

.blog h1 {
  font-size: 30px;
}

.blog h2 {
  font-size: 24px;
  line-height: 4;
}

.blog h3 {
  line-height: 2;
}

.blog p {
  margin-bottom: 16px;
}
