:root {
  /* font-family */
  --ff--unbounded: "Unbounded", cursive; /* titles, headings */
  --ff--firamono: "Fira Mono", monospace; /* code */
  --ff--roboto: "Roboto", sans-serif; /* text */
}

@font-face {
  font-family: "Fira Mono";
  font-weight: 400;
  src: url("/fonts/firamono/woff2/firamono-regular.woff2") format("woff2"),
    url("/fonts/firamono/woff/firamono-regular.woff") format("woff");
}

@font-face {
  font-family: "Unbounded";
  font-weight: 700;
  src: url("/fonts/unbounded/woff2/Unbounded-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url("/fonts/roboto/woff2/roboto-regular-webfont.woff2") format("woff2"),
    url("/fonts/roboto/woff2/roboto-regular-webfont.woff") format("woff");
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--ff--unbounded);
}

p,
a,
li {
  font-family: var(--ff--roboto);
}

a {
  text-decoration: none;
  color: currentColor;
}
