:root {
  /* colors */
  --yellow: rgb(255, 216, 98);
  --grey: rgb(218, 218, 218);
  --green: #10ac84;
  --orange: #ff9f43;

  /* colors - roles */
  --accent: var(--orange);
  --muted: var(--grey);

  /* sizes */
  --content-width: 1400px;
  --header-height: 88px;
}
