:root {
  --color--white: white;
  --color--black: #0f0f0f;

  --color--dark: var(--color--black);
  --color--light: var(--color--white);

  --background: var(--color--light);
  --foreground: var(--color--dark);
}

.darkmode {
  --background: var(--color--dark);
  --foreground: var(--color--light);
}

body {
  background: var(--background);
  color: var(--foreground);
}

a {
  color: currentColor;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1.2px;
}
