:root {
  /* width */
  --width--mobile: 340px;
  --width--desktop: 670px;

  /* clamp */
  --max-width: clamp(var(--width--mobile), 60vw, var(--width--desktop));

  /* colors */
  --color--white: white;
  --color--black: #0f0f0f;
  --color--slate: #999999;
  --color--concrete: #7f7f7f;
  --color--aquamarine: rgb(117, 255, 209);
  --color--teal: rgb(0, 174, 174);

  --background: var(--color--white);
  --foreground: var(--color--black);
  --foreground--muted: var(--color--slate);
  --accent: var(--color--teal);
}

.darkmode {
  --background: var(--color--black);
  --foreground: var(--color--white);
  --foreground--muted: var(--color--concrete);
  --accent: var(--color--aquamarine);
}

body {
  background: var(--background);
}
