:root {
  /* Colors */
  --blue: rgb(45, 116, 218);
  --gray: #ccc;
  --purple--light: #d887fe;
  --purple: #b721ff;
  --turquoise--light: #78e6fe;
  --turquoise: #21d4fd;
  --salmon: #ff9a9e;
  --salmon--light: #fecfef;

  /* Gradients */
  --gradient--link: linear-gradient(
    -20deg,
    var(--purple) 0%,
    var(--turquoise) 100%
  );
  --gradient--link--hover: linear-gradient(
    -20deg,
    var(--purple--light) 0%,
    var(--turquoise--light) 100%
  );
  --gradient--salmon: linear-gradient(
    to top,
    var(--salmon) 0%,
    var(--salmon--light) 99%
  );
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  animation-name: fadein;
  animation-duration: 3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -0.05rem;
}

a {
  text-decoration: none;
}
