@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 100%;
  animation-name: fadein;
  animation-duration: 3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.05rem;
}
