---
import Default from "../layouts/Default.astro";
---

<Default>
  <section>
    <h1>hello</h1>
  </section>
</Default>
<style lang="scss">
  section {
    margin: 0 auto;
    padding: 16px;
    max-width: 1400px;
  }
</style>
