---
import Default from "../layouts/Default.astro";
---

<Default>
  <main></main>
</Default>

<style lang="scss">
  @import "../styles/_mixins";

  main {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;

    @include breakpoint--content-width;
  }
</style>
