---
import Default from "../layouts/Default.astro";
---

<Default>
  <section>
    <h1>hello</h1>
  </section>
</Default>
<style lang="scss">
  @import "../styles/_mixins";

  section {
    margin: 0 auto;
    padding: 16px;

    @include breakpoint--content-width;
  }
</style>
