---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../components/BlogCard.astro";

const mdxPosts = await Astro.glob("./**/*.mdx");
---

<BaseLayout title="Brian Han">
  <main>
    <div class="BlogList">
      {
        mdxPosts
          .filter((blogPost) => blogPost.frontmatter.published)
          .map((blogPost) => (
            <BlogCard
              href={blogPost.url}
              title={blogPost.frontmatter.title}
              summary={blogPost.frontmatter.summary}
            />
          ))
      }
      <BlogCard
        href="/styleguide"
        title="Hacking CSS Animation State and Playback Time"
        summary={`I started as a front-end web developer and then became a Flutter developer. I think there were some concepts that helped me adopt Flutter easier. There were also some new concepts that were different.`}
      />
      <BlogCard
        href="/styleguide"
        title="Hacking CSS Animation State and Playback Time"
        summary={`I started as a front-end web developer and then became a Flutter developer. I think there were some concepts that helped me adopt Flutter easier. There were also some new concepts that were different.`}
      />
      <BlogCard
        href="/styleguide"
        title="Hacking CSS Animation State and Playback Time"
        summary={`I started as a front-end web developer and then became a Flutter developer. I think there were some concepts that helped me adopt Flutter easier. There were also some new concepts that were different.`}
      />
    </div>
  </main>
</BaseLayout>
<style>
  main {
    display: flex;
    flex-direction: column;
    max-width: var(--max-width);
    margin: 48px auto;
    padding-bottom: 48px;
  }

  .BlogList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }
</style>
