@media screen and (prefers-color-scheme: dark) {
  .isDark {
    background: var(--color-background--dark-mode);
    color: var(--color-text--dark-mode);
  }

  .isDark :is(h1, h2, h3, h4, h5) {
    color: var(--color-text--dark-mode);
  }

  .isDark th {
    color: var(--color-body);
  }

  .isDark ol li::marker {
    color: rgb(182, 182, 182);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  a,
  ul,
  ol,
  blockquote {
    transition: background 200ms, color 200ms;
  }
}
