.FancyLink {
  display: inline-block;
  text-decoration: none;
}

.FancyLink__span {
  background-repeat: no-repeat;
  background-image: var(--gradient--link);
  background-size: 100% 5px;
  background-position: 0% 100%;
  transition: background-size 100ms var(--cubic-bezier),
    color 200ms var(--cubic-bezier);

  font-size: 2rem;
  line-height: 1.25;
}

.FancyLink:focus {
  outline: none;
}

.FancyLink:focus > .FancyLink__span,
.FancyLink__span:hover {
  background-size: 100% 30%;
  background-image: linear-gradient(
    50deg,
    white 0%,
    var(--purple) 20%,
    var(--salmon) 40%,
    var(--turquoise) 80%,
    white 100%
  );
  color: rgb(53, 30, 255);
}

@media screen and (max-width: 450px) {
  .FancyLink__span {
    background-size: 100% 3px;
    font-size: 1.25rem;
    line-height: 1.25;
  }
}
