---
let { pathname } = Astro.canonicalURL;
import { NavLink } from './NavLink.jsx';
---

<header>
  <nav>
    <h1 class="logo">
      <a href="/">Brian Han</a>
    </h1>
    <div class="nav-links">
      <NavLink href="/blog/" className="nav-link">Blog</NavLink>
      <NavLink href="/styleguide/" className="nav-link">Styleguide</NavLink>
    </div>
  </nav>
</header>

<style lang="scss">
  // overrides
  a {
    text-decoration: none;
    color: var(--color__fg);
  }

  header {
    position: fixed;
    width: 100%;

    nav {
      background: var(--color__bg);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1440px;
      margin: 0 auto;
      height: 70px;
      padding: 0 16px;

      h1.logo {
        font-family: 'Karla', sans-serif;
        font-size: 32px;
        font-weight: 800;
        letter-spacing: -2px;
        color: var(--color__fg);
        grid-column-start: 2;
        justify-self: center;
        align-self: center;
      }
    }

    div.nav-links {
      display: flex;
      gap: 16px;
      justify-content: flex-end;

      a.nav-link {
        font-family: var(--ff__space-grotesk);
        font-weight: 500;
        justify-self: end;
        align-self: center;
      }
    }
  }
</style>
