---
import ReadMore from "../components/ReadMore.astro";
export interface Props {
  href: string;
  title: string;
  summary: string;
}

const { href, title, summary } = Astro.props;
---

<article>
  <h3>
    <a href={href}>{title}</a>
  </h3>
  <p>
    {summary}
  </p>
  <ReadMore href={href} />
</article>

<style>
  :root {
    --color--summary--dark: #999999;
    --color--summary--light: #474747;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 670px;
  }

  h3 > a {
    color: var(--foreground);
    text-decoration: none;
  }

  h3 > a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.2px;
  }

  p {
    font-weight: 500;
  }

  :global(.darkmode p) {
    color: var(--color--summary--dark);
  }

  :global(p) {
    color: var(--color--summary--light);
  }
</style>
