---
// import ReadMore from "./ReadMore.astro";
import Link from "./Link.astro";

export interface Props {
  href: string;
  title: string;
  summary: string;
}

const { href, title, summary } = Astro.props;
---

<article>
  <h3>
    <Link href={href} variant="heading">{title}</Link>
  </h3>
  <p>
    {summary}
  </p>
  <!-- <ReadMore href={href} /> -->
</article>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: var(--max-width);
  }

  p {
    font-weight: 500;
    color: var(--foreground--muted);
  }
</style>
