---
import ReadMore from "../components/ReadMore/ReadMore.astro";
export interface Props {
  href: string;
  title: string;
  description: string;
}

const { href, title, description } = Astro.props;
---

<article>
  <h3>
    <a href={href}>{title}</a>
  </h3>
  <p>
    {description}
  </p>
  <ReadMore />
</article>

<style>
  :root {
    --color--description--dark: #999999;
    --color--description--light: #474747;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 670px;
  }

  h3 > a {
    color: var(--foreground);
    text-decoration: none;
  }

  h3 > a:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.2px;
  }

  /* :is(h3 > a, a.read-more):hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1.2px;
  } */

  p {
    font-weight: 500;
  }

  /* a.read-more {
    font-weight: 600;
    color: inherit;
    text-decoration: none;
  } */

  :global(.darkmode p) {
    color: var(--color--description--dark);
  }

  :global(p) {
    color: var(--color--description--light);
  }
</style>
