---
import FooterSocialLink from "./FooterSocialLink.astro";

const today = new Date();
---

<footer>
  <section class="socials">
    <ul>
      <li>
        <FooterSocialLink href="https://twitter.com/_brianhan" name="Twitter" />
      </li>
      <li>
        <FooterSocialLink href="https://github.com/hellobrian/" name="GitHub" />
      </li>
      <li>
        <FooterSocialLink
          href="https://www.linkedin.com/in/hellobrian/"
          name="LinkedIn"
        />
      </li>
    </ul>
  </section>
  <section class="copyright">
    &copy; {today.getFullYear()} Brian Han. All rights reserved.
  </section>
</footer>
<style lang="scss">
  footer {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 32px;
    padding: 8px;
    padding-bottom: 32px;
  }

  footer .copyright {
    text-align: center;
  }

  footer .socials ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    @media screen and (min-width: 625px) {
      flex-direction: row;
    }
  }
</style>
