---
// import HeaderLink from "./HeaderLink.astro";
import HeaderLink from "./HeaderLink.svelte";
import { SITE_TITLE } from "../consts";
---

<header>
  <a href="/">
    <h2>
      {SITE_TITLE}
    </h2>
  </a>
  <nav>
    <HeaderLink client:only="svelte" href="/">Home</HeaderLink>
    <HeaderLink client:only="svelte" href="/blog">Blog</HeaderLink>
    <HeaderLink client:only="svelte" href="/about">About</HeaderLink>
    <HeaderLink
      client:only="svelte"
      href="https://twitter.com/_brianhan"
      target="_blank"
      rel="noreferrer noopener"
    >
      Twitter
    </HeaderLink>
    <HeaderLink
      client:only="svelte"
      href="https://github.com/hellobrian/"
      target="_blank"
      rel="noreferrer noopener"
    >
      GitHub
    </HeaderLink>
  </nav>
</header>
<style>
  header {
    display: grid;
    gap: 8px;
    margin: 16px;
  }
  nav {
    display: flex;
    gap: 8px;
  }
  h2 {
    font-family: var(--ff--unbounded);
  }
</style>
