---
interface Props {
  href: string;
  variant: "heading" | "body";
  isActive?: boolean;
  isMuted?: boolean;
  className?: string;
}

const {
  href,
  variant,
  isActive = false,
  isMuted = false,
  className = "",
} = Astro.props;
---

<a
  href={href}
  class:list={[variant, className, { muted: isMuted, active: isActive }]}
>
  <slot />
</a>

<style>
  a {
    width: max-content;
  }

  .heading {
    font-family: "Karla", sans-serif;
    font-weight: 600;
    color: var(--foreground);
    text-decoration: none;
  }

  .body {
    font-family: "Inter", sans-serif;
    color: var(--foreground);
    text-decoration: none;
  }

  .muted {
    color: var(--foreground--muted);
  }

  :is(.active, a:hover) {
    text-decoration: underline;
    text-underline-offset: 3.4px;
    text-decoration-thickness: 1.4px;
    text-decoration-color: var(--accent);
  }
</style>
