---
import Link from "./Link.astro";
const { pathname } = Astro.url;
// const links = [
//   { href: "/", name: "Home" },
//   { href: "/blog/", name: "Blog" },
//   { href: "/photos/", name: "Photos" },
//   { href: "/about", name: "About" },
// ];
---

<nav>
  <ul>
    <li>
      <Link
        className="NavLink"
        variant="heading"
        isActive={pathname === "/"}
        isMuted={pathname !== "/"}
        href="/"
      >
        Home
      </Link>
    </li>
    <!-- <li>
      <Link
        className="NavLink"
        variant="heading"
        isActive={pathname === "/blog" || pathname.includes("blog")}
        isMuted={pathname !== "/blog" && !pathname.includes("blog")}
        href="/blog"
      >
        Blog
      </Link>
    </li> -->
    <!-- <li>
      <Link
        className="NavLink"
        variant="heading"
        isActive={pathname === "/meta" || pathname.includes("meta")}
        isMuted={pathname !== "/meta" && !pathname.includes("meta")}
        href="/meta"
      >
        Meta
      </Link>
    </li> -->
  </ul>
</nav>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    padding: 0;
  }

  @media screen and (max-width: 220px) {
    ul {
      flex-direction: column;
      gap: 4px;
    }
  }

  :is(.muted):hover {
    color: var(--foreground);
    transition: colro 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    text-decoration: none;
  }
</style>
