---
import Link from "./Link.astro";
const { pathname } = Astro.url;
const links = [
  { href: "/", name: "Home" },
  { href: "/blog", name: "Blog" },
  { href: "/photos", name: "Photos" },
  { href: "/about", name: "About" },
];
---

<header>
  <nav>
    <ul>
      {
        links.map((link) => (
          <li>
            <Link
              className="NavLink"
              variant="heading"
              isActive={pathname === link.href}
              isMuted={pathname !== link.href}
              href={link.href}
            >
              {link.name}
            </Link>
          </li>
        ))
      }
    </ul>
  </nav>
</header>

<style>
  ul {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
  }

  :is(.muted):hover {
    color: var(--foreground);
    transition: colro 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
    text-decoration: none;
  }
</style>
