---
import BaseHead from '../components/BaseHead.astro';
// import DarkModeButton from '../components/DarkModeButton';
import DarkModeButton from '../components/DarkModeButton.astro';
---

<html lang="en">

<head>
  <BaseHead />
</head>

<body>
  <DarkModeButton />
  <slot />
</body>

</html>