---
import BaseHead from '../components/BaseHead.astro';
import DarkModeButton from '../components/DarkModeButton';
---

<html lang="en">

<head>
  <BaseHead />
</head>

<body>
  <DarkModeButton client:load />
  <slot />
</body>

</html>