---
import BaseHead from "../components/BaseHead.astro";
import BaseFonts from "../components/BaseFonts.astro";
import DarkModeButton from "../components/DarkModeButton.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
  <head>
    <BaseHead />
    <BaseFonts />
  </head>

  <body>
    <div class="BaseLayout">
      <div class="profile">
        <span><h1><a href="/">Brian Han</a></h1><DarkModeButton /></span>
      </div>
      <div class="nav">
        <Nav />
      </div>
    </div>
    <slot />

    <style>
      .BaseLayout {
        display: flex;
        align-items: center;
        gap: 16px;
        width: var(--max-width);
        margin: 0 auto;
        margin-bottom: 48px;
        padding-top: 48px;
      }
      .profile {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      span {
        display: flex;
        gap: 4px;
      }

      h1 {
        margin-left: -2.6px;
      }
    </style>
  </body>
</html>
