---
import BaseHead from "../components/BaseHead.astro";
import BaseFonts from "../components/BaseFonts.astro";
---

<html lang="en">
  <head>
    <BaseHead />
    <BaseFonts />
  </head>

  <body>
    <!-- <header>
      <nav>
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/blog">blog</a></li>
          <li><a href="/styleguide">styleguide</a></li>
        </ul>
        <DarkModeButton />
      </nav>
    </header> -->
    <slot />
    <!-- <style>
      :is(ul, li, a) {
        all: unset;
      }

      :is(nav, ul) {
        display: flex;
        width: 100%;
        gap: 16px;
      }

      nav {
        padding-inline: 16px;
      }

      ul {
        height: 40px;
        gap: 16px;
        justify-content: flex-end;
        align-items: center;
        background: var(--background);
        background: red;
      }

      a {
        color: var(--foreground);
      }
    </style> -->
  </body>
</html>
