---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

const { title, description, image = "/placeholder-social.jpg" } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <body>
    <div>
      <div class="header">
        <Header />
      </div>

      <main>
        <slot />
      </main>

      <Footer />
    </div>
    <style lang="scss">
      @import "../styles/_mixins";

      div {
        display: grid;
        grid-template-rows: auto 1fr auto;
        height: 100%;
      }

      .header {
        margin-bottom: var(--header-height);
      }
    </style>
  </body>
</html>
