---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

const { title, description, image = "/placeholder-social.jpg" } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <body>
    <div>
      <Header />

      <slot />

      <Footer />
    </div>
    <style>
      div {
        display: grid;
        grid-template-rows: auto 1fr auto;
      }
    </style>
  </body>
</html>
