@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-duration: 200ms;
  animation-name: fade;
}

.fadeOut {
  animation-duration: 200ms;
  animation-name: fade;
  animation-direction: reverse;
}