:root {
  /* color - hex */
  --color-salmon: #ffc0cb;
  --color-wine: #c62368;
  --color-navy: #001220;
  --color-white: #fff;

  /* color - roles */
  --color-bg: var(--color-navy);
  --color-fg: var(--color-white);
  --color-primary: var(--color-wine);
  --color-secondary: var(--color-salmon);

  /* font */
  --inter: "Inter", sans-serif;
  --space-grotesk: "Space Grotesk", sans-serif;

  /* size */
  --nav-height: 96px;
  --max-width: 672px;
}
