:root {
  --color-salmon: #ffc0cb;
  --color-wine: #C62368;
  --color-navy: #001220;
  --color-white: #fff;
  --inter: 'Inter', sans-serif;
  --space-grotesk: 'Space Grotesk', sans-serif;
  --nav-height: 96px;
}